{% extends "webapp/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <body>
        <div class="container bg-light shadow-md p-5 form-layout">

            <h4 class="text-center">Create a Record</h4>

            <h5 class="text-center">Fill in the Details for the Record.</h5>

            <hr>
            <br>

            <form method="POST" autocomplete="off">
                {% csrf_token %}

                {{form|crispy}} 
                <br>

                <button type="submit" class="btn btn100 btn-outline-primary"><strong>Create A New Record</strong></button>
            </form>
        </div>
    </body>

{% endblock content %}