{% extends "webapp/base.html" %}

{% block title %}{{user}}{% endblock title %}

{% block content %}

    <h5>{{user}}'s Dashboard</h5>
    <hr>

    <a class="btn btn-outline-primary btn-sm btn-index" href="{% url 'dashboard' %}">Create New</a>
    <hr>

    <table class="table table-light table-hover">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </table>

    {% for record in records %}
        {{record.id}}
        {{record.first_name}}
        {{record.last_name}}
        <br>   
    {% endfor %}

{% endblock content %}