{% extends 'webapp/base.html' %}    

{% block title %}Index{% endblock title %}

{% block content %}

    <body>

        <br>
        <br>

        <div class="text-center">
            <h3>CRM Customer Relationship Management</h3>
            <br>

            <h5>The Best System to Keep Track of your Records!</h5>
            <hr>
            <br>

            <a class="btn btn-outline-primary" href="{% url 'register' %}" type="button">Create Account &nbsp; <i class="fa-solid fa-user-plus"></i></a>
        </div>
    
    </body>

{% endblock content %}