{% extends 'webapp/base.html' %}

{% block content %}

    <div class="container bg-light shadow-md p-5">

        <h3>Register</h3>

        <h5>Start managing your customers today!</h5>

        <hr>
        <br>

        <form method="POST" autocomplete="off">
            {% csrf_token %}

            {{form.as_p}} 
            <br>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <br>

        <div class="text-center">
            <p>Already have an account? <a href="{% url '' %}">Login</a></p>
        </div>
    
    </div>
    <br>

{% endblock content %}