{% extends "webapp/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <body>
        <div class="container bg-light shadow-md p-5 form-layout">

            <h4 class="text-center">Update a Record</h4>

            <h5 class="text-center">Amend the Details for the Record.</h5>

            <hr>
            <br>

            <form method="POST" autocomplete="off">
                {% csrf_token %}

                {{form|crispy}} 
                <br>

                <button type="submit" class="btn btn-info btn-index"><strong>Update Record &nbsp; <i class="fa fa-plus"></i></strong></button>

                <a href="{% url 'dashboard' %}" class="btn btn50 btn-outline-secondary btn-index"><strong>Go Back</strong> &nbsp; <i class="fa fa-arrow-left"></i></a>
            </form>
        </div>
        <br>
    </body>

{% endblock content %}