{% extends "webapp/base.html" %}

{% block content %}
    <div class="card">
        <strong>
            {{ record.last_name|upper }} {{ record.first_name }} 
        </strong>
        <div class="card-body">
            <p><strong>ID: </strong>{{ record.id }}</p> 
            <p><strong>Email: </strong>{{ record.email }}</p> 
            <p><strong>Phone: </strong>{{ record.phone }}</p> 

            <p><strong>Address: </strong>{{ record.address }}</p> 
            <p><strong>City: </strong>{{ record.city }}</p> 
            <p><strong>State: </strong>{{ record.state }}</p> 
            <p><strong>Zip: </strong>{{ record.zipcode }}</p> 
            <p><strong>Country: </strong>{{ record.country }}</p>

            <p><strong>Created: </strong>{{ record.creation_date }}</p>
        </div>
    </div>

    <a class="btn btn-outline-secondary btn-sm" href="{% url 'dashboard' %}">Return</a>
{% endblock content %}