{% extends "webapp/base.html" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <p><strong>ID: </strong></p> {{ record.id }}
            <p><strong>First Name: </strong></p> {{ record.first_name }}
            <p><strong>Last Name: </strong></p> {{ record.last_name }}
            <p><strong>Email: </strong></p> {{ record.email }}
            <p><strong>Phone: </strong></p> {{ record.phone }}
            <p><strong>Address: </strong></p> {{ record.address }}
            <p><strong>City: </strong></p> {{ record.city }}
            <p><strong>State: </strong></p> {{ record.state }}
            <p><strong>Zip: </strong></p> {{ record.zipcode }}
        </div>
    </div>
{% endblock content %}