{% extends "webapp/base.html" %}

{% block title %}{{record}}{% endblock %}

{% block content %}
    <div class="card">
        <strong>
            <br>
            &nbsp;
            {{ record.last_name|upper }} {{ record.first_name }} 
        </strong>
        <hr>
        
        <div class="card-body">
            <p><strong>ID: </strong>{{ record.id }}</p> 
            <p><strong>Email Address: </strong>{{ record.email }}</p> 
            <p><strong>Phone Number: </strong>{{ record.phone }}</p> 

            <p><strong>Street Address: </strong>{{ record.address }}</p> 
            <p><strong>City/Town: </strong>{{ record.city }}</p> 
            <p><strong>Zip Code: </strong>{{ record.zipcode }}</p> 
            <p><strong>State/Province: </strong>{{ record.state }}</p> 
            <p><strong>Country: </strong>{{ record.country }}</p>

            <p><strong>Created: </strong>{{ record.creation_date }}</p>
        </div>
    </div>

    <br>
    &nbsp;
    <a class="btn btn-success btn-sm" href="{% url 'dashboard' %}">Back</a>
    &nbsp;
    <a class="btn btn-dark btn-sm" href="{% url 'update-record' record.id %}">Edit</a>
    &nbsp;
    <a class="btn btn-danger btn-sm" href="{% url '' %}">Delete</a>

    <br>
    &nbsp;
{% endblock content %}