
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="StudyBuddy is a web application that allows you to create and join study rooms with your friends. You can chat, share files, and collaborate on projects in real-time. Get started by creating a new room or joining an existing one." />
    <meta
      name="keywords"
      content="StudyBuddy, study, buddy, web, application, chat, share, files, collaborate, projects, real-time, create, join, room, friends"
    />
    <meta name="author" content="Wayne McRae" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="icon" type="image/png" href="favicon.ico">
    {% comment %} <link rel="stylesheet" type="text/css" href="/static/css/main.css"> {% endcomment %}
    <title>StudyBuddy</title>
</head>
<body>
    {% include "navbar.html" %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if  message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}
    
    {% endblock content %}
</body>
</html>
