body {
    background-color: rgb(255, 255, 255);
}

.center {
    text-align: center;
}

.btn50 {
    width: 50%;
    border-radius: 5px;
}

.btn100 {
    width: 100%;
    border-radius: 5px;
}

.btn-index {
    width: 180px;
    border-radius: 5px;
}

.form-layout {
    border-radius: 15px;
    width: 550px;
}

/* .message-text {
    color: white;
} */