body {
    background-color: rgb(243, 239, 254);
}

.btn {
    width: 100%;
    border-radius: 5px;
}

.btn-index {
    width: 180px;
    border-radius: 5px;
}

.form-layout {
    border-radius: 15px;
    width: 550px;
}